<div class="sticky-top container shadow-lg p-3 mb-5 rounded bg-body-secondary">
  <nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <%= link_to 'PARFUM-STORE', root_path, style:"font-family: bankgothic; font-weight: 500; font-size: 30px; width: 200px; color: #2F4F4F;", class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% @genders.each do |gender| %>
          <%= link_to gender_path(gender), class:"nav-link active" do %>
            <%= gender.name if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
            <%= gender.name if params[:locale] == 'ru' %>
            <%= gender.name_tm if params[:locale] == 'tm' %>
          <% end %>
        <% end %>
        <%= search_form_for @q, class:"d-flex", role:"search" do |f| %>
        <%= f.search_field :name_or_product_code_cont, class:"form-control me-2", type:"search", style:"width:225px;" %>

        <%= f.submit class:"btn btn-outline-success", type:"submit"%>

        <% end %>
        <%= link_to cart_path, class:"btn " do %>
          <% image_tag "/shoppaymentorderbuy-20_icon-icons.com_73877.svg", alt:"За стеклом", width:"40px", height:"30px"%>
        <% end %>
      </ul>

    </div>

  </div>

</nav>











</div>
