<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render 'cart/navbar' %>
    <h1>Your Cart</h1>
    <p>Your total is <%= @cart.total %></p>
    <%= turbo_frame_tag "cart_show" do %>
      <% if @cart.orderables.count > 0 %>
        <%= render "cart/orderables" %>
        <p>Total: <%= @cart.total %></p>
      <% else %>
        <p>Your cart is empty!</p>
      <% end %>
    <% end %>
  </body>
</html>
