<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "navbar" %>
    <h1>Your Cart</h1>
    <p>Your total is <%= @cart.total %></p>
    <% @cart.orderables.each do |orderable| %>
      <% product = orderable.product %>
      <p><%= product.name %> <%= product.price %> * <%= orderable.quantity %> = <%= orderable.total %></p>
    <% end %>
  </body>
</html>
