<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center><h1>Оформление заказов</h1></center>
    <%= render 'navbar' %>
    <% @orders.each do |order| %>
      <%= link_to order_path(order) do %>
        <%= order.user.username %>
      <% end %>
      <%= order.order_items.count %>
      <%= order.payment %>
    <% end %>
  </body>
</html>
