<center><h1>Опции</h1></center>
<%= render 'navbar' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'genders' %>
    <%= render 'categories' %>
    <%= render 'currency' %>
    <%= render 'carousel' %>
  </div>
</div>
