<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/keyboard.css">
    <script src="/js/script.js" defer></script>
  </head>
  <body style="background: #F5F5DC;">
    <center><h1>Оформление заказов</h1></center>
    <%= render 'navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-4 table-container">
            <table class="table table-bordered">
              <thead class="table-success" style="position: sticky; top: 0; z-index: 10;">
                <tr>
                  <th scope="col">№</th>
                  <th scope="col"><%= t('order.detail.product_code')%></th>
                  <th scope="col"><%= t('order.detail.name') %></th>
                  <th scope="col"><%= t('order.detail.price') %></th>
                  <th scope="col"><%= t('order.detail.discount') %></th>
                  <th scope="col"><%= t('order.detail.price_discount') %></th>
                  <th scope="col"><%= t('order.detail.quantity') %></th>
                  <th scope="col"><%= t('order.detail.total_product') %></th>
                  <th scope="col"><%= t('order.detail.delete') %></th>
                </tr>
              </thead>
              <tbody class="table-warning">
                <% @n = 1 %>
                <% @order.order_items.each do |order_item| %>
                  <% product = order_item.product %>
                  <tr>
                    <th scope="row"><%= @n %></th>
                    <td><%= product.product_code %></td>
                    <td><%= product.name %></td>
                    <td><%= product.price.to_f %></td>
                    <td><%= Productdiscount.last.value + "%" %></td>
                    <td><%= order_item.product_discount %></td>
                    <td>
                      <%= form_with(model: order_item, url: order_order_item_path(@order, order_item), method: :patch, local: true) do |form| %>
                        <%= form.number_field :quantity, value: order_item.quantity, min: 1, style:"width: 50px;", class:"rounded" %>
                        <%= form.button class:"rounded" do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= order_item.total_discount %></td>
                    <td>
                      <%= form_with(url: orders_remove_path) do |f|%>
                        <%= f.hidden_field :id, value: order_item.id %>
                        <%= f.submit "X", class:"btn btn-danger btn-sm"%>
                      <% end %>
                    </td>
                  </tr>
                  <% @n = @n + 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="row">
            <div class="col-2">
            <span class="badge text-bg-secondary">Покупатель:<%= " #{@order.username}" %>  </span>
              <br>
              <p style="color: green;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                </svg><%= " #{@order.phone}" %>+99365857233
              </p>
            </div>
            <div class="col-2">
              <% flash.each do |key, message| %>
            <div class="alert alert-<%= key %>">

                <%= message %><br><%= 'Сдача: ' + @order.change.to_s if @order.change.to_i > 0 %>

            </div>
          <% end %>
            </div>
            <div class="col-2">

            </div>
            <div class="col-2">

            </div>
            <div class="col-2">
              <%= form_for :order, url: order_path(@order), method: :put do |f| %>
                <%= f.text_field :pay, class:"form-control form-control-sm", value:""%>
              <% end %>
              <div class="row">
                <% if @order.total_discount > @order.payment.to_f %>
                  <div class="col-6">
                    Оплачено:
                  </div>
                  <div class="col-6">
                    <p style="color: red;"><%= @order.payment %></p>
                  </div>
                  <% elsif @order.total_discount == @order.payment %>
                  <h6 style="color: green;">Погашено</h6>
                <% end %>
              </div>
            </div>
            <div class="col-2">
              <h5><span class="badge text-bg-primary">Cумма: <%= @order.total_discount %></span></h5>
              <h5><span class="badge text-bg-success">К оплате: <%= @order.total_discount - @order.payment.to_f %></span></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <%= search_form_for @q, url: order_backoffice_path, class:"d-flex", role:"search" do |f| %>
            <%= f.search_field :name_or_product_code_cont, class:"form-control me-2", type:"search", style:"width:225px;" %>
          <% end %>

          <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
              <div style="height:500px;overflow-x:hidden;">
                <div class="row">
                  <% @products.each do |product| %>
                    <div class="col-2">
                      <p style="font-size: 12px;"><%= product.product_code %></p>
                    </div>
                    <div class="col-5">
                      <p style="font-size: 12px;"><%= product.name %></p>
                    </div>
                    <div class="col-2">
                      <% @discount_price = product.price.to_f - (product.price.to_f * Productdiscount.last.value.to_i) / 100.0 %>
                      <% if product.price.to_i > @discount_price.to_i %>
                        <p style="color: blue; font-size: 13px;"><i><b><i><%= @discount_price.to_i.to_f %></i></b></i></p>
                        <p style="color: blue; font-size: 13px;"><i><b><i>Скидка: <%= Productdiscount.last.value + "%" %></i></b></i></p>
                      <% elsif product.price.to_f == @discount_price %>
                        <p style="font-size: 13px;"><b><i><%= @discount_price.to_i.to_f %></i></b></p>
                      <% end %>
                    </div>
                    <div class="col-2">
                      <% @category = Category.where(id: product.category_id) %>
                      <p style="font-size: 12px;"><%= @category.first.name %></p>
                    </div>
                    <div class="col-1">
                        <%= form_with(model: [@order, OrderItem.new]) do |f| %>
                          <%= f.hidden_field :product_id, value: product.id %>
                          <%= f.hidden_field :quantity, value: 1 %>
                          <%= f.submit "+", class:"btn btn-success btn-sm" %>
                        <% end %>
                    </div>
                    <hr>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </body>
</html>
